.font-google {
	font-family: 'Oleo Script', cursive;
}

.precious-textcolor {
	color: #5B3157 !important;
}

.precious-bgcolor {
	background-color: #5B3157 !important;
}

.gold-text {
	color: #B28F3F !important;
}

.gold-bgcolor {
	background-color: #B28F3F !important;
}