/*-FONT-*/

.font-google {
	font-family: 'Oleo Script', cursive;
}

/*END FONT*/


/*-TEXTCOLOR & BGCOLOR-*/

/*Precious color*/
.precious-textcolor {
	color: #5B3157 !important;
}

.precious-bgcolor {
	background-color: #5B3157 !important;
}

/*.precious-semitext {
	color: #83497B;
}

.precious-semibgcolor {
	background-color: #83497B;
}*/

/*gold color*/
.gold-text {
	color: #B28F3F !important;
}

.gold-bgcolor {
	background-color: #B28F3F !important;
}

/*END TEXTCOLOR & BGCOLOR*/


/*-NAVBAR-*/
.sidenav {
	opacity: 0.9;
}

.hr-navbar {
	height: 0.3em;
	border-radius: 0;
	border: 0;
}
/*END NAVBAR*/


/*-SLIDER-*/
/*membuat text-shadow pada text slider*/
/*supaya text yg memiliki color putih bisa terlihat dibackground yg putih*/
.slider h3,
.slider h5, {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	/*0.5 : transparansi-nya*/
}
/*END SLIDER*/


/*-ABOUT-*/
.about {
	padding-top: 20px;
}

section#about .card {
	width: 400;
	opacity: 0;
}

section#about .card.animated.zoomInLeft {
	opacity: 1;
}

.card-image video {
	border-radius: 2px 0 0 2px;
    max-width: 100%;
  	width: auto;
}

.card .card-image video {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card-image video {
	height: 100%;
}

section#about p {
	font-size: 1.3em;
	color: white;
}

.hr-about {
	width: auto;
	height: 0.3em;
	border-radius: 50%;
	border: 0;
}

/*IPad / IPad Mini*/
@media only screen and (min-width: 414px) {
	.hr-about {
	width: 500px;
	height: 0.3em;
	border-radius: 50%;
	border: 0;
}
}

/*IPad Pro*/
@media only screen and (min-width: 933px) and (max-width: 1170px) {
	.hr-about {
		width: 500px;
		height: 0.3em;
		border-radius: 50%;
		border: 0;
	}
}


/*My Desktop 1366 (samsung 14")*/
@media only screen and (min-width: 1266px) {
	.hr-about {
		width: 600px;
		height: 0.3em;
		border-radius: 50%;
		border: 0;
	}
}

/*Desktop Large*/
@media only screen and (min-width: 2214px) {
	.hr-about {
		width: 500px;
		height: 0.3em;
		border-radius: 50%;
		border: 0;
	}
}
/*END ABOUT*/


/*-SERVICES-*/
section#services {
	padding: 60px 0;
}

section#services h5 {
	color: white;
}

section#services p {
	color: white;
	font-size: 1em;
}

.hr-service {
	width: 170px;
	height: 0.3em;
	border-radius: 50%;
	border: 0;
}

.effect-service {
	opacity: 0;
}

.effect-service.animated.fadeIn {
	opacity: 1;
}
/*END SERVICES*/


/*-PRICE LIST & PROMO-*/
section#promo {
	padding: 20px 0;
	padding-top: 20px;
	padding-bottom: 150px;
}

.hr-promo {
	width: 100px;
	height: 0.4em;
	background-color: pink;
	border-radius: 50%;
	border: 0;
}

/*tabs color*/
.tabs .tab a{
    color:#5b3157;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color: transparent;
	color: #B28F3F;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color: rgba(102,147,153,0.7);
}
.tabs .indicator {
	background-color:#B28F3F;
}
/*end tabs color*/

/*ngambil dari container supaya nge-center*/
.frame-promo { 
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 414px) {
  .frame-promo {
    width: 90%;
    padding-left: 40px;
  }
}
/*end custom mobile*/

.btnPromo {
	width: 280px;
}

.hr-modal {
	width: 220px;
	height: 0.3em;
	background-color: pink;
	border-radius: 50%;
	border: 0;
}

/*price list & promo-package*/


.snip1404 {
  padding-top: 100px;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.snip1404 img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.snip1404 .plan {
  margin: 0;
  width: 25%;
  position: relative;
  float: left;
  overflow: hidden;
  border: 3px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #5b3157;
}
.snip1404 .plan:hover i,
.snip1404 .plan.hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #B28F3F;
}
.snip1404 .plan:first-of-type {
  border-radius: 8px 0 0 8px;
}
.snip1404 .plan:last-of-type {
  border-radius: 0 8px 8px 0;
}
.snip1404 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.snip1404 header {
  background-color: #5b3157;
  color: #ffffff;
}
.snip1404 .plan-title {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0;
  padding: 20px 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.snip1404 .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 300px 0 0;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent;
}
.snip1404 .plan-cost {
  padding: 40px 20px 10px;
  text-align: right;
}
.snip1404 .plan-price {
  font-weight: 600;
  font-size: 2em;
}
.snip1404 .plan-features {
  padding: 0 0 20px;
  margin: 0;
  list-style: outside none none;
}
.snip1404 .plan-features li {
  padding: 8px 5%;
}
.snip1404 .plan-features i {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.5);
}
.snip1404 .plan-select {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
.snip1404 .plan-select a {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}
.snip1404 .plan-select a:hover {
  background-color: #B28F3F;
}
.snip1404 .featured {
  margin-top: -10px;
  border-color: #B28F3F;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 8px;
}
.snip1404 .featured .plan-select {
  padding: 30px 20px;
}
@media only screen and (max-width: 767px) {
  .snip1404 .plan {
    width: 50%;
  }
  .snip1404 .plan-title,
  .snip1404 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1404 .plan-select,
  .snip1404 .featured .plan-select {
    padding: 20px;
  }
  .snip1404 .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .snip1404 .plan {
    width: 100%;
  }
}

/*promo*/

#promo-package {
	padding-top: 80px;
}

.effect-promo {
	opacity: 0;
}

.effect-promo.animated.fadeInUp {
	opacity: 1;
}
/*end promo*/

/*END PRICE LIST & PROMO*/


/*-CLIENTS-*/
section#clients {
	padding-top: 40px;
	padding-bottom: 150px;
}
.main-gallery {
	
}

.gallery-cell {
  width: 100%;
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 100px auto 130px auto;
  padding: 0 20px;
}

.testimonial-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
  border-radius: 50%;
}

.testimonial-author {
  display: block;
  font-weight: 800;
  color: #B28F3F;
}

.flickity-page-dots {
  bottom: 25px;
}

.flickity-page-dots .dot.is-selected {
  background: #B28F3F;
}

/*END CLIENTS*/


/*-VENDOR LIST-*/
#vendor {
	background-image: url('../img/vendor-list/cover-vendor.png');
	padding: 20px;
	padding-bottom: 200px;
}

section#vendor span {
	color: #5F3047 !important;
}

section#vendor img {
	-webkit-filter: drop-shadow(0.2em 0.2em 0.2em #222 );
  	filter: drop-shadow(0.2em 0.2em 0.2em #222);
}

section#vendor span {
	color: white;
}

.effect-vendor {
	opacity: 0;
	transition: 1s;
}

.effect-vendor.active-effectvendor {
	opacity: 1;
}

.hr-vendor {
	width: 200px;
	height: 0.3em;
	background-color: pink;
	border-radius: 50%;
	border: 0;
}

.collapsible-header {
	font-size: 1.4em;
}

.vendorlist1 {
	padding-left: 75px;
}

.vendorlist2 {
	padding-left: 85px;
}

.vendorlist3 {
	padding-left: 90px;
}

.vendorlist4 {
	padding-left: 95px;
}

.vendorlist5 {
	padding-left: 40px;
}

/*IPhone 5*/
@media only screen and (min-width: 320px) {
  .vendorlist1 {
  	padding-left: 20px;
  }
  .vendorlist2 {
  	padding-left: 35px;
  }
  .vendorlist3 {
  	padding-left: 50px;
  }
  .vendorlist4 {
  	padding-left: 60px;
  }
  .vendorlist5 {
  	padding-left: 40px;
  }
}

/*Samsung Galaxy Note 2, Note 3, S5*/
@media only screen and (min-width: 360px) {
  .vendorlist1 {
  padding-left: 45px;
  }
  .vendorlist2 {
  	padding-left: 50px;
  }
  .vendorlist3 {
  	padding-left: 70px;
  }
  .vendorlist4 {
  	padding-left: 80px;
  }
  .vendorlist5 {
  	padding-left: 55px;
  }
}

/*IPhone 6/7/8*/
@media only screen and (min-width: 375px) {
	.vendorlist1 {
		padding-left: 50px;
	}
	.vendorlist2 {
		padding-left: 62px;
	}
	.vendorlist3 {
		padding-left: 77px;
	}
	.vendorlist4 {
		padding-left: 85px;
	}
	.vendorlist5 {
		padding-left: 60px;
	}
}


/*Google Pixel 2/XL*/
@media only screen and (min-width: 411px) {
	.vendorlist1 {
		padding-left: 65px;
	}
	.vendorlist2 {
		padding-left: 75px;
	}
	.vendorlist3 {
		padding-left: 90px;
	}
	.vendorlist4 {
		padding-left: 100px;
	}
	.vendorlist5 {
		padding-left: 80px;
	}
}

/*IPhone 6/7/8 Plus*/
@media only screen and (min-width: 414px) {
	.vendorlist1 {
		padding-left: 50px;
	}
	.vendorlist2 {
		padding-left: 60px;
	}
	.vendorlist3 {
		padding-left: 72px;
	}
	.vendorlist4 {
		padding-left: 80px;
	}
	.vendorlist5 {
		padding-left: 60px;
	}
}

/*IPad / IPad Mini*/
@media only screen and (min-width: 414px) {
	.vendorlist1 {
		padding-left: 50px;
	}
	.vendorlist2 {
		padding-left: 67px;
	}
	.vendorlist3 {
		padding-left: 80px;
	}
	.vendorlist4 {
		padding-left: 87px;
	}
	.vendorlist5 {
		padding-left: 67px;
	}
}

/*IPad Pro*/
@media only screen and (min-width: 933px) and (max-width: 1170px) {
	.vendorlist1 {
		padding-left: 110px;
	}
	.vendorlist2 {
		padding-left: 120px;
	}
	.vendorlist3 {
		padding-left: 135px;
	}
	.vendorlist4 {
		padding-left: 140px;
	}
	.vendorlist5 {
		padding-left: 120px;
	}
}


/*My Desktop 1366 (samsung 14")*/
@media only screen and (min-width: 1266px) {
	.vendorlist1 {
		padding-left: 75px;
	}
	.vendorlist2 {
		padding-left: 85px;
	}
	.vendorlist3 {
		padding-left: 105px;
	}
	.vendorlist4 {
		padding-left: 110px;
	}
	.vendorlist5 {
		padding-left: 86px;
	}
}

/*Desktop Large*/
@media only screen and (min-width: 2214px) {
	.vendorlist1 {
		padding-left: 50px;
	}
	.vendorlist2 {
		padding-left: 65px;
	}
	.vendorlist3 {
		padding-left: 78px;
	}
	.vendorlist4 {
		padding-left: 86px;
	}
	.vendorlist5 {
		padding-left: 65px;
	}
}
/*END VENDOR LIST*/


/*-BLOG-*/
section#blog {
	padding-top: 20px;
	padding-bottom: 20px;
}

section#blog .row {
	padding-top: 100px;
}

section#blog a {
	opacity: 1;
	background-color: transparent;
	border-radius: 30%;
}
/*END BLOG*/


/*-CONTACT US-*/
section#contact-us {
	background-image: url('../img/contact/cover-contact.png');
}

section#contact-us li {
	background-color: transparent;
}

.contact-us {
	padding-top: 50px;
	padding-bottom: 20px;
}

.hr-contact-us {
	width: 150px;
	height: 0.3em;
	background-color: pink;
	border-radius: 50%;
	border: 0;
}

.card-panel {
	height: 400px;
}

.textarea-contactus {
	background-color: transparent;
  	border: none;
  	border-bottom: 1px solid #9e9e9e;
  	border-radius: 0;
  	outline: none;
  	height: 3rem;
  	width: 100%;
  	font-size: 16px;
  	margin: 0 0 8px 0;
  	padding: 0;
  	-webkit-box-shadow: none;
          	box-shadow: none;
  	-webkit-box-sizing: content-box;
          	box-sizing: content-box;
  	-webkit-transition: border .3s, -webkit-box-shadow .3s;
  	transition: border .3s, -webkit-box-shadow .3s;
  	transition: box-shadow .3s, border .3s;
  	transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.icon-social {
	font-size: 20px;
}

/*google maps API*/
.mapouter {
	text-align: right;
	height: 500px;
	width: 600px;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 350px;
	width: 500px;
}

/*Mobile google maps responsive*/
/*IPhone 5*/
@media only screen and (min-width: 320px) {
  .mapouter {
	text-align: right;
	height: 250px;
	width: 280px;
  }

  .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 250px;
	width: 280px;
  }
}

/*Samsung Galaxy Note 2, Note 3, S5*/
@media only screen and (min-width: 360px) {
  .mapouter {
	text-align: right;
	height: 250px;
	width: 280px;
  }

  .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 250px;
	width: 300px;
  }
}

/*IPhone 6/7/8*/
@media only screen and (min-width: 375px) {
  .mapouter {
	text-align: right;
	height: 250px;
	width: 280px;
  }

  .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 250px;
	width: 320px;
  }
}


/*Google Pixel 2/XL*/
@media only screen and (min-width: 411px) {
  .mapouter {
	text-align: right;
	height: 250px;
	width: 280px;
  }

  .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 250px;
	width: 350px;
  }
}

/*IPhone 6/7/8 Plus*/
@media only screen and (min-width: 414px) {
  .mapouter {
	text-align: right;
	height: 250px;
	width: 280px;
  }

  .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 250px;
	width: 320px;
  }
}

/*IPad / IPad Mini*/
@media only screen and (min-width: 414px) {
  .mapouter {
	text-align: right;
	height: 250px;
	width: 280px;
  }

  .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 250px;
	width: 320px;
  }
}

/*IPad Pro*/
@media only screen and (min-width: 933px) and (max-width: 1170px) {
  .mapouter {
	text-align: right;
	height: 250px;
	width: 280px;
  }

  .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 300px;
	width: 380px;
  }
}


/*My Desktop 1366 (samsung 14")*/
@media only screen and (min-width: 1266px) {
  .mapouter {
	text-align: right;
	height: 500px;
	width: 600px;
  }

  .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 350px;
	width: 540px;
  }
}

/*Desktop Large*/
@media only screen and (min-width: 2214px) {
  .mapouter {
	text-align: right;
	height: 500px;
	width: 600px;
  }

  .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 350px;
	width: 500px;
  }
}
/*End google maps API*/
/*END CONTACT US*/